@use "../styles/variables.scss" as *;

body {
  font-family: $font-base;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  font-size: 16px;
  color: black;
}

.text-title {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

.text-subtitle {
  font-size: 1.5rem;
  font-weight: $font-weight-medium;
  line-height: 1.4;
}

.text-body {
  font-size: 1rem;
  font-weight: $font-weight-regular;
}

.text-caption {
  font-size: 0.875rem;
  font-weight: $font-weight-regular;
}
