@use "@/styles/variables.scss" as *;

// Text alignment
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// Font weight
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-light {
  font-weight: 300;
}

// Margin top
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}

// Padding
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

// Links
.link {
  color: var($color-blue-link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}