// Core Colors
$color-white: #ffffff;
$color-black: #121213;

// Grays
$color-gray-100: #f8f8f8; // lightest gray
$color-gray-200: #ebebeb;
$color-gray-300: #dfdfdf;
$color-gray-400: #bbb;
$color-gray-500: #a3a3a3;
$color-gray-600: #979797;
$color-gray-700: #727272;
$color-gray-800: #3a3a3c; // darkest gray

// Green
$color-green: #267c30;
$color-green-light: #63a859;

// Yellow
$color-yellow: #fbd300;
$color-yellow-light: #f7da21;

// Blue (for links, accents)
$color-blue: #346eb7;
$color-blue-light: #6493e6;
$color-blue-link: #2873dc;

// Utility
$color-transparent: #fff0;

$wordle-green: #538d4e;
$wordle-yellow: #b59f3b;

$font-base: "Libre Franklin", system-ui, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 800;

$vertical-spacing-0-5: 4px;
$horizontal-spacing-0-5: 4px;
