// Core Colors
$color-white: #ffffff;
$color-black: #121212;

// Grays
$color-gray-100: #f8f8f8;   // lightest gray
$color-gray-200: #ebebeb;
$color-gray-300: #dfdfdf;
$color-gray-400: #bbb;
$color-gray-500: #a3a3a3;
$color-gray-600: #979797;
$color-gray-700: #727272;
$color-gray-800: #363636;   // darkest gray

// Green
$color-green: #267c30;
$color-green-light: #63a859;

// Yellow
$color-yellow: #fbd300;
$color-yellow-light: #f7da21;

// Blue (for links, accents)
$color-blue: #346eb7;
$color-blue-light: #6493e6;
$color-blue-link: #2873dc;

// Utility
$color-transparent: #fff0;

$primary-color: #3498db;
$secondary-color: #2ecc71;
$tertiary-color: #9b59b6;
$quaternary-color: #e74c3c;
$quinary-color: #f1c40f;
$senary-color: #1abc9c;
$septenary-color: #2c3e50;
$octonary-color: #95a5a6;
$nonary-color: #34495e;
$denary-color: #bdc3c7;
$wordle-black: #121213;   // Wordle's dark background
$wordle-white: #ffffff;   // White for text or empty tiles
$wordle-green: #6aaa64;   // Correct letter, correct position
$wordle-yellow: #c9b458;  // Correct letter, wrong position
