.button {
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid $color-black;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
  width: 155px;
  height: 3em;

  &--default {
    background: $color-black;
    color: $color-white;
  }

  &--outline {
    background: transparent;
    color: $color-black;
  }
}
